<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Codex Resources</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- Material minified -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css" />
	<link rel="stylesheet" href="/css/main.css" />
</head>
<body>
	<div class="navbar  navbar-default">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-default-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">___</a>
		</div>
		<div class="navbar-collapse collapse navbar-default-collapse">
			<ul class="nav navbar-nav">
				<li>
					<a href="/home">Posts</a>
				</li>
				<li class="dropdown">
					<a href="/posts" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
						Dropdown <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">Term 1</a>
						</li>
						<li>
							<a href="#">Term 2</a>
						</li>
						<li>
							<a href="#">Term 3</a>
						</li>
					</ul>
				</li>
			</ul>
			<form class="navbar-form navbar-left">
				<input type="text" class="form-control col-lg-8" placeholder="Search"></form>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="#">Username</a>
				</li>
				<li>
					<a href="/logout">Logout</a>
				</li>
			</ul>
		</div>
	</div>
	{{{body}}}
	<!-- Latest compiled and minified JavaScript -->
  <script src = "/js/bootstrap.min.js"></script>
  <script src = "/js/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
