<div class="container">
  {{#article}}
  <div class="media well">
    <h2>{{heading}}</h2>
    <a class="pull-left" href="#">
      <img class="media-object" src="http://placehold.it/64x64" alt=""></a>
    <div class="media-body">
      <h4 class="media-heading">
        Emanuelle
        <small>September 25, 2015 at 9:30 PM</small>
      </h4>
    <p>{{content}}</p>
    </div>
    <div class="col-md-2 col-md-offset-10">
      <a href="post/{{heading}}" class="btn btn-primary btn-xs">Read More</a>

    </div>
    <!-- /.col-md-3 col-md-offset-9 -->
  </div>
  {{/article}}

  <div class="center-pagination col-md-6 col-md-offset-4">
    <ul class="pagination">
      <li>
        <a href="#">&laquo;</a>
      </li>
      <li>
        <a href="#">1</a>
      </li>
      <li>
        <a href="#">2</a>
      </li>
      <li>
        <a href="#">3</a>
      </li>
      <li>
        <a href="#">4</a>
      </li>
      <li>
        <a href="#">5</a>
      </li>
      <li>
        <a href="#">&raquo;</a>
      </li>
    </ul>
  </div>
  <!-- /.center-pagination -->
</div>
