<div class="container">
	<form class="postForm" action='/posts/new' method="POST">

			<div class="well">
          <h4>Article Heading</h4>
  				<input type="text" name="heading" placeholder="Article Heading"/>
        <br/>
        <br/>
          <h4>Article Body</h4>
  				<textarea style="width:40em" class="bodyForm" type="text" name="content" placeholder="Article Body"></textarea>
        <br/>
				<br/>
				<div>
					<em>Tags</em>
					<select data-placeholder="Choose a Language..." class="chosen-select" multiple style="width:350px;" tabindex="4">
						<option value=""></option>
						<option value="Javascript">Javascript</option>
						<option value="Python">Python</option>
						<option value="HTML">HTML</option>
						<option value="CSS">CSS</option>
						<option value="jQuery">jQuery</option>
						<option value="MySQL">MySQL</option>
						<option value="Mongodb">Mongodb</option>
					</select>
				</div>
		</div>
        <br/>
          <button type="submit">Submit</button>
					<input type="file" id="uploadme" />
					<input type="button" id="clickme" value="Upload file!" />
			</div><!-- /.well -->


	</form><!-- /.row -->
</div><!-- /.container -->
