<div class="container">
	<form class="row" action = 'POST' method="/posts/newPost">

			<div class="well">
				<input type="text" name="heading" placeholder="Article Heading"></input>
				<input type="text" name="content" placeholder="Article Body"></input>
			</div><!-- /.well -->

      <input type="submit">Submit</input>

	</form><!-- /.row -->
</div><!-- /.container -->
