<div class="container">
	<form class="postForm" action='/posts/new' method="POST">

			<div class="well">
          <h4>Article Heading</h4>
  				<input type="text" name="heading" placeholder="Article Heading"></input>
        </br>
        </br>
          <h4>Article Body</h4>
  				<textarea class="bodyForm" type="text" name="content" placeholder="Article Body"></textarea>
        </br>
        </br>
          <button type="submit">Submit</button>

			</div><!-- /.well -->


	</form><!-- /.row -->
</div><!-- /.container -->
