<div class="container">
	<div class="row">

			{{#article}}
			<div class="well">
				<h1>{{heading}}</h1>
				<p>{{content}}</p>

				<h4>Mawande</h4>
			</div><!-- /.well -->

			<!-- Blog Comments -->

			<!-- Comments Form -->
			<div class="well">
					<h4>Leave a Comment:</h4>
					<form role="form" action="/post/{{heading}}" method="POST">
							<div class="form-group">
									<textarea name="commentOnPost" class="form-control" rows="3"></textarea>
							</div>
							<button type="submit" class="btn btn-primary">Submit</button>
					</form>
			</div>
			{{/article}}

		<hr>

		<!-- Posted Comments -->

		{{#comments}}
		<div class="media well">
				<a class="pull-left" href="#">
						<img class="media-object" src="http://placehold.it/64x64" alt="">
				</a>
				<div class="media-body">
						<h4 class="media-heading">Human
								<small>September 25, 2015 at 9:30 PM</small>
						</h4>
						{{comment}}
				</div>
		</div>
		{{/comments}}


	</div><!-- /.row -->
</div><!-- /.container -->
